<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Some Website</title>
</head>

<body>
  {{> header}}
  <h2>{{screamIt wellcome}}</h2> <!-- more tha one par use space to separate -->
  <p>Some text here</p>


  {{> footer}}
</body>

</html>